
.banner {
    background: url("img/anhnen.jpg") no-repeat center center;
    background-size: cover;
    padding: 8rem 1rem;    
    color: darkred;
}


.slogan {
    text-align: center;
    width: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 2rem 3rem;
    background-color: lightgrey;
    gap: 1.5rem;     
}


.block_3 {
    flex: 1 1 30%;
    margin: 0;
}


footer {
    background-color: lightgrey;
    margin: 0;
    padding: 1rem;
}


.link {
    color: navy;
}


.cell_img {
    width: 50%;
}

.cell_text {
    width: 50%;
    padding-left: 3rem;    
    font-size: 1.1rem;
}

.img {
    width: 100%;
    height: auto;          
    display: block;
}

.menu {
    font-size: 120%;
    text-decoration: none;
}

body {
    font-size: 18px;
    margin: 0;
}

.login-link {
    background: rgb(0, 83, 139);
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
@media (max-width: 768px) {

    .banner {
        padding: 4rem 1rem;
    }

    .row {
        padding: 1.5rem 1rem;
    }

    .block_3 {
        flex: 1 1 100%;
        text-align: center;
    }

    .cell_text,
    .cell_img {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    body {
        font-size: 16px;
    }
}
