.banner {
    background: url("img/anhnen.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 17rem;
    color: darkred !important;
}


.slogan {
    text-align: center;
    width: 100%;
}

.row {
display: flex;
flex-wrap: wrap;
margin-top: -1;
max-width: 100%;
padding-right: 3rem;
padding-left: 3rem;
background-color: lightgrey;
}

.block_3 {
    flex: 0 0 auto;
    width: 30%;
    margin: 10px;
}

footer {
    background-color: lightgrey;
    margin: 1px;
    padding: 10px;
}

.link {
    color: navy;
    text-align: left;
}

.cell_img {width: 50%;}

.cell_text { width: 50%; padding-left: 5rem;}

.img {
    width: 100%;
    height: 100%;
}

.menu {
    font-size: 120%;
    text-decoration: none;
}

.cell {
    text-align: justify;
    padding: 1.5em;
}

body {
    font-size: 18px;
}

.login-form {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
}

.login-form input {
    width: 100%;
    padding: 8px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
    cursor: pointer;
}



